
/* ---------- ---------- ---------- TABLET DISPLAY RULES ---------- ---------- ---------- */
@media only screen and (min-width: 900px) {
	body {
		grid-template-columns: 10px 23% 10px auto 10px;
		grid-template-rows: 170px auto 10px auto 10px auto 10px 70px auto;
		grid-template-areas:
			'	header		header		header		header		header	'
			'	nav				nav				nav				nav				nav			'
			'	. 				.					.					.					.				'
			'	. 				section 	section		section		.				'
			'	. 				.					.					.					.				'
			'	. 				aside			aside			aside 		.				'
			'	. 				.					.					.					.				'
			'	.			 		footer		footer		footer		.				'
			'.  				.					.					.					.				';
	}

/* ---------- ---------- ---------- DESKTOP DISPLAY RULES ---------- ---------- ---------- */
@media only screen and (min-width: 1150px) {
	body {
		grid-template-columns: 10% 23% 20px auto 10%;
	}
}
