
/* ---------- ---------- ---------- MOBILE DISPLAY RULES ---------- ---------- ---------- */
* {
	font-family: 'Baloo 2', cursive;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: 10px auto 10px;
	grid-template-rows: auto auto 10px auto auto 10px auto 10px 70px auto;
	grid-template-areas:
		'	header	header	header	'
		'	nav		nav		nav		'
		'	.		.		.		'
		'	.		section	.		'
		'	.		full	.		'
		'	.		.		.		'
		'	.		aside	.		'
		'	.		.		.		'
		'	footer	footer	footer	'
		' 	.		.		.		';
	background: -moz-linear-gradient(180deg, rgba(8,14,56,1) 0%, rgba(50,64,168,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(8,14,56,1) 0%, rgba(50,64,168,1) 100%);
	background: linear-gradient(180deg, rgba(8,14,56,1) 0%, rgba(50,64,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080e38",endColorstr="#3240a8",GradientType=1);
	background-color: rgba(50,64,168,1);
	background-repeat: no-repeat;
}

/* ---------- ---------- HEADER ---------- ---------- */
header {
	grid-area: header;
	color: white;
	padding: 35px 0;
	text-align: center;
	position: relative;
}

	header h1 a {
		text-decoration: none;
		color: white;
		font-size: 1.2em;
		font-weight: 700;
	}

	header h2 {
		font-size: 1em;
		font-weight: lighter;
		color: white;
	}

/* ---------- ---------- MAIN NAVIGATION ---------- ---------- */
nav {
	grid-area: nav;
}

nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 16px;
}

	.dropbtn {
		background-color: #91b3ed;
	}

	.nav-part:hover .dropbtn {
		font-weight: bold;
		color: red;
	}

	#mobile-menu-button {
		background-color: white;
		color: black;
	}


.nav-part {
	position: relative;
	display: block;
}

.dropdown-content, #nav-core {
	display: none;
	position: relative;
	min-width: 160px;
	z-index: 1;
	background-color: #bdcce6;
}

.dropdown-content a:hover {
	background-color: #e6f2ff;
}

/* ---------- ---------- SECTION ---------- ---------- */
section {
	grid-area: section;
	background-color: white;
	padding: 20px;
	display: block;
	overflow: hidden;
}

	section h1 {
		color: red;
		font-size: 1.7em;
		background-color: #f2f2f2;
		padding: 20px;
		margin: -20px;
	}
	
	#sectionh1negativemarginfix {
		margin-top: 30px;
	}

	section h2 {
		width: calc(100% - 20px);
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 10px;
		font-size: 120%;
		border-bottom: 5px solid #9fd8ef;
		color: rgba(8,21,57,1);
	}
	
	section h2:first-of-type {
		margin-top: 0;
	}

	section p {
		margin: 10px 0;
		text-align: justify;
		padding: 0 5px;
		text-indent: 50px;
	}

	section ul {
		margin: 10px 0 10px 25px; 
	}
	
.full-width-section {
	grid-area: full;
}
	
/* ---------- ---------- ASIDE ---------- ---------- */
aside {
	grid-area: aside;
}

.aside-part {
	margin-bottom: 10px;
	padding: 20px;
}

.aside-part:last-of-type {
	margin-bottom: 0;
}

.aside-part-headline {
	border: 1px solid #d9d9d9;
	margin: -20px;
	padding: 20px;
	font-weight: bold;
	background-color: #f2f2f2;
	font-size: 1.2em;
}

.aside-part-content {
	margin: 20px -20px -20px -20px;
	padding: 20px;
	background-color: white;
	font-size: 1em;
}

.aside-part-content p {
	margin-top: 20px;
}

.aside-part-content p:first-of-type {
	margin-top: 0;
}

aside ul {
	margin: 10px 0 10px 25px; 
}

/* ---------- ---------- FOOTER ---------- ---------- */
footer {
	grid-area: footer;
	padding: 15px 0;
	font-weight: lighter;
	color: white;
	text-align: center;
}

/* ---------- ---------- UNIVERSAL ---------- ---------- */
.clearfix {
	clear: both;
}

/* BANNERS */
.success, .info, .warning, .error, .index-function-option {
	text-indent: 0;
	padding: 10px;
	border-left-width: 5px;
	border-left-style: solid;
}

.success {
	background-color: #7aff68;
	border-left-color: green;
}

.info { 
	background-color: #68bfff;
	border-left-color: blue;
}

.warning { 
	background-color: #faff68;
	border-left-color: yellow;
}

.error {
	background-color: #ff6868;
	border-left-color: red;
}

.index-function-option {
	display: block;
	margin: 10px;
	background-color: lightskyblue;
	color: black;
	border-left-color: deepskyblue;
	text-decoration: none;
}

.index-function-option:hover {
	border-left-color: red;
}

.desktop-only-block, .desktop-only-inline {
	display: none;
}


/* ---------- ---------- ---------- TABLET DISPLAY RULES ---------- ---------- ---------- */
@media only screen and (min-width: 900px) {
	body {
		grid-template-columns: 10px 23% 10px auto 10px;
		grid-template-rows: auto auto 10px auto auto 10px 70px auto;
		grid-template-areas:
			'	.	header	header	header	.	'
			'	nav	nav		nav		nav		nav	'
			'	. 	.		.		.		.	'
			'	.	full	full	full	.	'
			'	. 	aside 	.		section	.	'
			'	. 	.		.		.		.	'
			'	.	footer	footer	footer	.	'
			' .		.		.		.		.	';
	}

	nav {
		text-align: center;
	}
	
	nav a {
		padding: 5px 20px;
	}
	
	#mobile-menu-button {
		display: none;
	}
	
	#nav-core {
		display: block !important;
		position: relative;
		background-color: white;
	}
	
	.dropbtn {
		background-color: transparent;
		font-weight: bold;
	}

	.nav-part {
		display: inline-block;
	}

	.dropdown-content {
		position: absolute;
	}

	.nav-part:hover .nav-part {
		display: block;
	}
	
	.nav-part:hover .dropbtn {
		background-color: #bdcce6;
	}
}	

/* ---------- ---------- ---------- DESKTOP DISPLAY RULES ---------- ---------- ---------- */
@media only screen and (min-width: 1150px) {
	body {
		grid-template-columns: 10% 23% 10px auto 10%;
	}
	
	nav {
		text-align: left;
		margin: 0 10%;
	}

	/* Align first menu item with left sidebar */
	.nav-part:first-of-type {
		/*margin-left: calc((10/8 * 23%) + 10px);*/
	}
	nav.full-width .nav-part:first-of-type {
		/*margin-left: 0;*/
	}

	.desktop-only-block {
		display: block;
	}

	.desktop-only-inline {
		display: inline;
	}
}

/* ---------- ---------- ---------- LOGIN FORM ---------- ---------- ---------- */
#login-section {
	text-align: center;
	background-color: transparent;
}

#login-form {
	display: inline-block;
	background-color: transparent;
	padding: 20px;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	color: white;
	text-align: center;
}

#login-form input[type="text"], #login-form input[type="password"] {
	margin-bottom: 20px;
	width: auto;
	display: inline-block;
	text-align: center;
	padding: 1px;
}

#login-form input[type="submit"] {
	padding: 0 10px;
	color: white;
	font-size: 1em;
	background-color: transparent;
	border: 1px solid white;
}

/* ---------- ---------- ---------- LOGOUT FORM ---------- ---------- ---------- */
#logout-banner {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	right: 10px;
	top: 10px;
}

#logout-form {
	
}

#logout-form input[type="submit"] {
	padding: 0 10px;
	color: white;
	font-size: 1em;
	background-color: transparent;
	border: 1px solid white;
}

/* ---------- ---------- ---------- TABLE ---------- ---------- ---------- */
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table tr {
	border-bottom: 1px solid black;
}

table th {
	background: skyblue;
}

table .warn {
	color: red;
	font-size: medium;
}

.head-row {
	background-color: skyblue;
}

.highlight {
	background-color: darkseagreen;
}

.table-container {
	overflow-x: auto;
}

table input[type="checkbox"] {
	margin: 0 5px 0 15px;
}

/* ---------- ---------- ---------- MAIN FORM (IN SECTION) ---------- ---------- ---------- */
.master-form {
	text-align: center;
}

.master-form fieldset {
	padding: 0 20px 20px 20px;
	margin-top: 20px;
	border: none;
	border-top: 2px solid dodgerblue;
}

.master-form fieldset legend {
	padding: 0 10px;
	min-width: 50%;
	text-align: center;
	border: 2px solid dodgerblue;
	background-color: dodgerblue;
	color: whitesmoke;
}

.master-form fieldset label {
	display: inline-block;
	width: 100%;
	color: dodgerblue;
}

.master-form input, .master-form label, .master-form button, .master-form select {
	margin-top: 10px;
	display: inline-block;
	min-width: 30%;
	text-align: center	;
}

.master-form input[type="date"], .master-form input[type="number"]{
	min-width: 100px;
}

.master-form select {
	min-width: auto;
}

.master-form button {
	min-width: 130px;
	padding: 0 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: dodgerblue;
	font-size: 1em;
	background-color: transparent;
	border: 1px solid dodgerblue;
}

.master-form button:hover {
	transition: background-color 0.4s;
	color: whitesmoke;
	background-color: dodgerblue;
}

/* ---------- ---------- ---------- AUTOCOMPLETE DROPDOWN ---------- ---------- ---------- */
.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid whitesmoke;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
}

.autocomplete-items div:hover {
	background-color: whitesmoke;
}

.autocomplete-active {
	background-color: dodgerblue !important;
	color: white;
}

/* ---------- ---------- ---------- OTHER ---------- ---------- ---------- */
/* Button to create item, unit ...  */
.button-create-new {
	padding: 0 10px;
	margin: 0 10px 10px 0;
	color: dodgerblue;
	font-size: 1em;
	background-color: transparent;
	border: 1px solid dodgerblue;
}
.button-create-new:hover {
	transition: background-color 0.4s;
	color: whitesmoke;
	background-color: dodgerblue;
}

/* Button in tr, in 'options' column */
.main-form-option-button {
	padding: 0 3px;
	margin: 2px 5px;
	color: black;
	background-color: transparent;
	border: 1px solid dodgerblue;
}
.main-form-option-button:hover {
	transition: background-color 0.4s;
	color: whitesmoke;
	background-color: dodgerblue;
}